<% include ../partials/header.ejs %>

<div>
    <h1>Log in!</h1>
    <hr>
    <% include ../partials/alerts.ejs %>
    <form class="form" method="post" action="/auth/login">
        <input type="text" class="form-control" placeholder="Enter your username" name="username">
        <br>
        <input type="password" class="form-control" placeholder="Enter your password" name="password">
        <br>
        <input type="submit" value="log me in" class="btn btn-primary">
    </form>
</div>
<% include ../partials/footer.ejs %>
