<!DOCTYPE html>
<html>
<head>
  <title>Podcatcher</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <script src="/wimpy/wimpy.js" type="text/javascript"></script>
  <script src="/js/script.js"></script>
  <script src="/js/sidebar.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
</head>
<body>
 <div id="wrapper">
  <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="#">
           Podcatcher<img class="mini-speaker" src='/images/speaker.png'/>
         </a>
       </li>
       <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/podcasts">Podcast Search</a>
      </li>
      <li>
        <% if(user) { %>
          <a href="/auth/logout">Logout</a>
        <% } else { %>
          <a href="/auth/login">Login</a>
        <% } %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Saves<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">
          <% if(user) { %>
          <%= typeof user.userName === 'string' ? user.userName : 'Unknown' %>'s <% } %>
          Saves</li>

          <% if(user) {
            saves.forEach(function(value, i){ %>
          <li>
            <a href="/saves/<%=saves[i].id%>">- <%=saves[i].description%></a>
          </li>
          <% });} %>




          <li><a href="/saves/create">Create New Save</a></li>
        </ul>
      </li>
      <li>
        <a href="mailto:jakerohr@gmail.com">Contact</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
    <div class="container page">
      <div class="row">
