<% include ../partials/header.ejs %>


<h1 class="about">Podcatcher</h1>


<p class="about">Discover new audio content. Instantly.</p>



<div class="text-center">
  <img class="speaker" src='/images/speaker.png'/>
</div>

<p>On your commute. Walking the dog. Out for a run.<br><br>
Don't waste time searching through playlists and subscription feeds. Just set how much time you have, enter a few search terms and Podcatcher will fill your ears with audio goodness. </p>


<% include ../partials/footer.ejs %>
