<% include ../partials/header.ejs %>




<div class="text-center">

  <h2 class="welcome">Welcome to Podcatcher</h2>

  <div class="text-center">
    <img class="speaker" src='/images/speaker.png'/>
  </div>
  <div class="sign-in">
    <a href="/auth/login" class="btn btn-primary">Login</a>
    <a href="/auth/signup" class="btn btn-primary">Signup</a>
  </div>

</div>
<br>
<% include ../partials/alerts.ejs %>

<% include ../partials/footer.ejs %>
