<% include ../partials/header.ejs %>

<% var sav %>


<div class="text-left">
  <h1 class="text-left">Podcatcher</h1>
  <p class="text-left intro">


  <% if(sav) { %>
  <h3 class="text-center"><%=sav.description%></h3>
  <% } else {
    if(user) { %>
      Hello, <b><%= typeof user.userName === 'string' ? user.userName : 'Unknown' %></b>.<br>
    <% } %>

  How many minutes do you have?</p>
  <% } %>

</div>

<div class="row">
  <div class="text-center">
    <!-- search for podcast and set time -->

    <form class="form" action="/podcasts/:id" method="get">
      <div class="form-group">
        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        <input type="text" name="userTime" class="form-control timer"
        <% if(sav) { %> value="<%=sav.time%>"
       <% } else { %> value="30" <% } %>>
        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span><br>
        <input type="text" name="term" class="form-control search-term" placeholder="Enter a search term or two"><br>
        <button class="btn btn-primary go" type="submit">Listen</button>
      </div>
    </form>
  </div>
</div>
<% include ../partials/alerts.ejs %>

<% include ../partials/footer.ejs %>
