<% include ../partials/header.ejs %>


  <h1>Search Results</h1>
    <hr>

    <div class="row">
      <div>

        <!-- Wimpy Player -->
        <div class="wimpy" data-wimpyplayer data-responsive data-autoAdvance=0 data-infoScroll=0 data-media=<%- JSON.stringify(playList) %>></div>

      </div>
    </div>



<% include ../partials/footer.ejs %>
