<% include ../partials/header.ejs %>

<div>
  <h1 class="text-center enjoy">Enjoy</h1>
</div>

    <!-- Wimpy Player -->
    <div class="wimpy" data-skin="/wimpy/wimpy.skins/Big-Volume.tsv" data-width=300 data-height=256 data-autoPlay=1 data-wimpyplayer data-responsive data-autoAdvance=0 data-infoScroll=0 data-media=<%- JSON.stringify(playList) %>></div>





<% include ../partials/footer.ejs %>
